/* *{
  border: 1px solid #f00; }
*/

body{
  margin: 0px; 
  max-width: 100%;
  overflow-x: hidden;
}

html{
	scroll-behavior: smooth;
}

.header {
	padding: 0.5rem 1.5rem;
	border-bottom: 0.2rem solid black;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top:0;
	background: white;
	z-index: 1;
}

.header_title {
	display: flex;
}

.header_img {
	height:3.5rem;
	margin: 0 0.6rem 0 0;
}

.header_text {
	font-size:1.5rem;
	font-weight: bold;
	text-decoration: none;
	color: #f30000;
	margin: auto 0;
	transition: 0.1s ease;
}

.header_text:hover {
	color: black;
}

.header_heart {
	height: 3rem;
	margin: auto 0.3rem;
}

.header_nav {
	margin: auto 0;
	display: flex;
}

.header_nav_link {
	text-decoration: none;
}

.header_nav_li {
	border: 0.1rem solid black;
	border-radius: 0.3rem;
	padding: 0.1rem 0.3rem;
	margin: 0 0.2rem;
	color: black;
	transition: 0.1s ease;
}

.header_nav_li:hover {
	background:black;
	color:red;
}

.header_nav_text {
	margin-left: -0.6rem;
	text-decoration: none;
	font-weight: bold;
	color: black;
	transition: 0.1s ease;
}

.header_nav_li:hover .header_nav_text{
	color:white;
}

.image-main{
  background-image: url(../img/1661570996_1-celes-club-p-krasivie-mesta-udmurtii-dostoprimechatelno-1.jpg);
  height: 30.5rem;
  width: 100%;
  background-position: center;
}

.tours {
	padding: 0 6rem;
	margin: 1rem 0;
}

.tours_container {
	border-radius: 0.5rem;
	padding: 1rem 6rem 4rem 6rem;
}

.tours_containerctr {
	border-radius: 0.5rem;
	padding: 1rem 15rem;
}

.tours_head {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tours_headctr {
	display: flex;
	justify-content: center;
	height:3rem;
}

.tours_head_text {
	font-size: 2.5rem;
	margin: 0;
	font-weight: bold;
}

.tours_img {
	height:4rem;
}

.tours_img2 {
	height:2.6rem;
	margin-right:0.5rem;
}

.tours_img3 {
	height:2.6rem;
	margin-bottom:0.7rem;
}

.tours_form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 3rem 0;
}

.tours_form_button {
	font-size: 0.9rem;
	background: white;
	border-radius: 0.4rem;
	border: 0.01rem solid black;
	padding: 0.4rem 0;
	font-weight: bold;
	margin-right: 1rem;
	cursor: pointer;
	
	width:18rem;
}

.tours_form_search {
	font-size: 0.9rem;
	background: white;
	border-radius: 0.4rem;
	border: 0.01rem solid black;
	padding: 0.4rem 0;
	font-weight: bold;
	background: url(png/22.png) no-repeat scroll 7px 7px;
	background-size: contain;
	background-position:right;
	background-color:white;
	text-align: center;
	
	width:50rem;
}

.tours_item {
	display: flex;
	background: white;
	border-radius: 0.8rem;
	box-shadow: 0.3rem 0.3rem 1rem 0 rgba(0, 0, 0, 0.3);
	transition: 0.2s ease;
	margin-top: 3rem;
}

.tours_itemct {
	display: flex;
	background: white;
	border-radius: 0.8rem;
	box-shadow: 0.3rem 0.3rem 1rem 0 rgba(0, 0, 0, 0.3);
	transition: 0.2s ease;
	margin: 1rem 0;
}

.tours_item:hover {
	box-shadow: 0 0 0 0, inset 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 0 0 0.1rem rgba(0,0,0,0.3);
}

.tours_item_img {
	height: 15rem;
	width: 30%;
	background: url(../img/74_full.jpg);
	background-size: cover;
	border-radius: 0.8rem;
	transition: 0.2s ease;
}

.tours_item_img2 {
	height: 15rem;
	width: 30%;
	background: url(../img/tours_itemS.png);
	background-size: cover;
	border-radius: 0.8rem;
	transition: 0.2s ease;
}

.tours_item_img3 {
	height: 15rem;
	width: 30%;
	background: url(../img/3c234b5b833945d7a07a07392534512e-cb55d0ee.jpeg);
	background-size: cover;
	border-radius: 0.8rem;
	transition: 0.2s ease;
}

.tours_item:hover .tours_item_img{
	box-shadow: inset 0.2rem 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.tours_item:hover .tours_item_img2{
	box-shadow: inset 0.2rem 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.tours_item:hover .tours_item_img3{
	box-shadow: inset 0.2rem 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.tours_item_text {
	display: flex;
	justify-content: space-between;
	padding: 2rem 3rem;
	width: 70%;
}

.tours_item_text_ctr {
	display: flex;
	align-items: center;
	padding: 1rem 2rem;
	width: 10%;
}

.tours_item_text_ct {
	display: flex;
	align-items: center;
	padding: 1rem 2rem;
	width: 90%;
}

.tours_item_text_left {
	margin: 0;
}

.tours_item_text_right {
	margin-top: 0;
	text-align: center;
	line-height: 1.6rem;
	font-size: 1.2rem;
}

.tours_item_text_center {
	margin: 0.5rem auto;
	line-height: 1.6rem;
	font-size: 1.5rem;
}

.tours_item_text_centerctr {
	margin: 0.5rem;
	height: 2.5rem;
}

.tours_item_text_right_text {
	margin-top: 0;
	margin-bottom: 0.7rem;
}

.tours_item_text_left_text {
	margin: 0.7rem 0 0 0;
}

.tours_item_text_red {
	color:red;
}

.tours_item_text_button {
	background:black;
	color:white;
	padding:0.7rem 1rem;
	border-radius: 2rem;
	font-size: 0.9rem;
	line-height:2.5rem;
	text-decoration: none;
	transition: 0.2s ease;
}

.tours_item_text_button:hover {
	font-size:1rem;
}

.tours_item_text_buttonctr {
	background:black;
	color:white;
	padding:0 2rem;
	border-radius: 0.4rem;
	font-size: 1.2rem;
	line-height:2.5rem;
	height:2.5rem;
	text-decoration: none;
	transition: 0.2s ease;
}

.tours_item_text_buttonctr:hover {
	font-size:1.4rem;
	line-height:2.7rem;
	height:2.7rem;
}

.towns {
	background:#df2626;
	padding: 1rem 6rem 4rem 6rem;
	margin: 1rem 0;
}

.towns_head {
	display: flex;
	justify-content: center;
	align-items: center;
}

.towns_head_text {
	font-size: 2.5rem;
	margin: 0;
	font-weight: bold;
	color: white;
}

.towns_img {
	height:2rem;
	margin: 0 -0.3rem -0.8rem -0.1rem;
}

.towns_row {
	margin-top: 3rem;
	display:flex;
	justify-content: center;
	height: 12rem;
	align-items: center;
}

.towns_item {
	width: 8.2rem;
	margin: 0 5rem;
	display: flex;
	justify-content: center;
}

.towns_item_img {
	height: 7.5rem;
	width: 7.5rem;
	background: url(png/herb_Izhevsk.png);
	background-size:contain;
	background-position: center;
	border-radius: 0.5rem;
	box-shadow: 0.3rem 0.3rem 1rem 0 rgba(0, 0, 0, 0.3);
	transition: 0.2s ease;
}

.towns_item_link {
	text-decoration: none;
}

.towns_item_link:hover .towns_item_img {
	height: 7.7rem;
	width: 7.7rem;
}

.towns_item_link:hover .towns_item_text {
	margin:0.3rem 0;
	font-size: 1.9rem;
}

.towns_item_text {
	font-size: 1.7rem;
	text-align: center;
	color: white;
	margin:0.5rem 0;
	transition: 0.2s ease;
}

.towns_item_text_black {
	color: black;
}

.footer {
	border-radius: 0.5rem 0.5rem 0 0;
	height:100px;
	background:#282828;
	display:flex;
	justify-content: center;
	align-items: center;
}

.footer_text {
	color: rgba(225,225,225,0.3);
	font-size: 1.2rem;
	font-weight: bold;
}